{% load sekizai_tags %}

{% addtoblock "contento_css" %}
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
{% endaddtoblock %}
{% addtoblock "contento_css" %}
<style>
  #{{map_context.wrapper_id}} { height: 180px; }
</style>
{% endaddtoblock %}


{% addtoblock "contento_js" %}
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>
  var lfmaps = lfmaps || {};
  lfmaps['{{map_context.wrapper_id}}'] = L.map('{{map_context.wrapper_id}}').setView([{{map_context.lat}}, {{map_context.lon}}], 8);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(lfmaps['{{map_context.wrapper_id}}']);
  {% for marker in map_context.markers %}
    L.marker([{{marker.lat}}, {{marker.lon}}]).addTo(lfmaps['{{map_context.wrapper_id}}'])
    .bindPopup('{{marker.popup}}')
  {% endfor %}
</script>
{% endaddtoblock %}

<div class="{{map_context.wrapper_class}}" id="{{map_context.wrapper_id}}">
</div>
