{% extends "contento/dashboard/base.html" %}
{% load static %}

{% block content %}

<!-- here starts angular -->
{% verbatim %}
<div ng-app="edit-app" ng-controller="AppController as AppController" ng-cloak>
  <h3 class="page-header">
    <span class="text-muted">Editing page</span>: {{AppController.pageContext.label}}
    <!--<button type="button" class="btn btn-sm btn-primary pull-right">Add new page</button>-->
  </h2>
  <page-editor page-context="AppController.pageContext">
  </page-editor>
</div>
{% endverbatim %}

{% endblock content %}

{% block body_bottom %}
<script>
  var djangoUrls = {
    'token': '{{ csrf_token }}',
    'staticBase' : '{% static "" %}',
    'angularTemplatesBase' : '{% static "contento/dashboard/templates/" %}'
  }
  var pageContext = {{ page_context|safe }};
  console.log(pageContext, djangoUrls);
</script>


<script src="{% static "contento/dashboard/js/edit-app.js" %}"></script>
<script src="{% static "contento/dashboard/js/edit-controllers.js" %}"></script>
<script src="{% static "contento/dashboard/js/edit-components.js" %}"></script>

{% endblock body_bottom %}
