<div class="">
    <div class="alert alert-info">
      <div class="pull-left">
        {{page.label}}<br>
        <span class="text-muted">/{{page.url}}</span>
      </div>
      <div class="pull-right">
        <a
          class="btn btn-sm btn-primary"
          {% if page.key %}
          href="{% url "dashboard-edit-page-base" label=page.label key=page.key %}"
          {% else %}
          href="{% url "dashboard-edit-page-base" label=page.label %}"
          {% endif %}
        >
          Edit
        </a>

        <a
          class="btn btn-sm btn-primary"
          href="{% url "contento-cms" page_url=page.url%}">
          View
        </a>

        <a
          class="btn btn-sm btn-primary"
          href="{% url "dashboard-add-page-with-parent" parent=page.get_meta_path %}">
          Add child
        </a>

        <a
          class="btn btn-sm btn-danger"
          {% if page.key %}
          href="{% url "dashboard-drop-page" label=page.label key=page.key %}"
          {% else %}
          href="{% url "dashboard-drop-page" label=page.label %}"
          {% endif %}
          >
          Drop
        </a>

      </div>
      <div class="clearfix"></div>
    </div>

  {% if page.children %}
  {% for page in page.children %}
    <div style="margin-left:2em">
    {% include "contento/dashboard/page_for_list.html" %}
    </div>
  {% endfor %}
  {% endif %}
</div>
