<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      {{$ctrl.content.type}}
    </div>
    <div class="panel-body" xstyle="pointer-events:none;">

      <fragment-preview
        content="$ctrl.content"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
      >
      </fragment-preview>

      <fragment-json-editor
        format="json"
        content="$ctrl.content"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
        on-content-change="$ctrl.onContentChange(content)"
      >
      </fragment-json-editor>
      <fragment-json-editor
        format="yaml"
        content="$ctrl.content"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
        on-content-change="$ctrl.onContentChange(content)"
      >
      </fragment-json-editor>

    </div>
  </div>

</div>
