<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      {{$ctrl.content.type}}
    </div>
    <div class="panel-body" xstyle="pointer-events:none;">

      <fragment-preview
        content-type="$ctrl.content.type"
        content-data="$ctrl.content.data"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
      >
      </fragment-preview>
      <!--
      <fragment-json-editor
        format="json"
        content-type="$ctrl.content.type"
        content-data="$ctrl.content.data"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
        on-content-change="$ctrl.onContentChange(content)"
      >
      </fragment-json-editor>

      <fragment-json-editor
        format="yaml"
        content-type="$ctrl.content.type"
        content-data="$ctrl.content.data"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
        on-content-change="$ctrl.onContentChange(content)"
      >
      </fragment-json-editor>
      -->
      <hr>
      <fragment-json-schema-editor
        content-type="$ctrl.content.type"
        content-data="$ctrl.content.data"
        region="$ctrl.region"
        page-context="$ctrl.pageContext"
        path="$ctrl.path"
        on-content-change="$ctrl.onContentChange(content)"
      >
      </fragment-json-schema-editor>



    </div>
  </div>

</div>
